.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: #ff7700;
}

h2 {
    font-family: 'Yeon Sung', cursive;
}

.movie_text i {
    color: #ff7700;
}

.modal-content { margin-top: 100px; } .img_modal { display: inline-block; } .p_modal { margin-top: 10px; } .modal-body { text-align: center }